
combined_plot.png
energy_plot.png
flux_plot.png
planet_positions.npy
planet_positions.npz
radial_velocity_plot.png
zoomed_orbit_plot.png
planet_positions.npz
planet_positions.npz
kepler_newton_deviations.png
planet_positions.npz
*.npz
*.png
*.xml
*.npy
*.jpg
del3/håndteikn_del3.pdf
*.jpeg
Del 6/sigma_noise.txt
Del 6/spectrum_seed42_600nm_3000nm.txt
*.pdf
del3/innlevering3/del3kjør.txt
del3/innlevering3/del3habitable_kjør.txt
black_hole_descent_frame_2_with_light_travel.txt
black_hole_descent_frame_2.txt
black_hole_descent_frame_1_with_light_travel.txt
black_hole_descent_frame_1.txt
